In [227]:
import pandas as pd 
import numpy as np 
import chardet 
from sklearn.linear_model import LinearRegression
import matplotlib.pyplot as plt
import seaborn as sns

In [228]:
# Open the CSV file in binary mode and detect the encoding
with open("Superstore.csv", "rb") as f:
    result = chardet.detect(f.read())

# Print the detected encoding
print("Detected encoding:", result["encoding"])

# Read the CSV file using the detected encoding
df = pd.read_csv("Superstore.csv", encoding=result["encoding"])

Detected encoding: MacRoman

In [229]:
df

,Category,City,Country,Customer.ID,Customer.Name,Discount,Market,___,Order.Date,Order.ID,...,Sales,Segment,Ship.Date,Ship.Mode,Shipping.Cost,State,Sub.Category,Year,Market2,weeknum
0,Office Supplies,Los Angeles,United States,LS-172304,Lycoris Saunders,0,US,1,00:00.0,CA-2011-130813,...,19,Consumer,00:00.0,Second Class,4.37,California,Paper,2011,North America,2
1,Office Supplies,Los Angeles,United States,MV-174854,Mark Van Huff,0,US,1,00:00.0,CA-2011-148614,...,19,Consumer,00:00.0,Standard Class,0.94,California,Paper,2011,North America,4
2,Office Supplies,Los Angeles,United States,CS-121304,Chad Sievert,0,US,1,00:00.0,CA-2011-118962,...,21,Consumer,00:00.0,Standard Class,1.81,California,Paper,2011,North America,32
3,Office Supplies,Los Angeles,United States,CS-121304,Chad Sievert,0,US,1,00:00.0,CA-2011-118962,...,111,Consumer,00:00.0,Standard Class,4.59,California,Paper,2011,North America,32
4,Office Supplies,Los Angeles,United States,AP-109154,Arthur Prichep,0,US,1,00:00.0,CA-2011-146969,...,6,Consumer,00:00.0,Standard Class,1.32,California,Paper,2011,North America,40
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
51285,Office Supplies,Los Angeles,United States,AM-103604,Alice McCarthy,0,US,1,00:00.0,CA-2014-109701,...,69,Corporate,00:00.0,Same Day,5.15,California,Binders,2014,North America,49
51286,Office Supplies,Los Angeles,United States,AM-103604,Alice McCarthy,0,US,1,00:00.0,CA-2014-109701,...,9,Corporate,00:00.0,Same Day,0.44,California,Binders,2014,North America,49
51287,Office Supplies,Los Angeles,United States,HR-147704,Hallie Redmond,0,US,1,00:00.0,CA-2014-106964,...,12,Home Office,00:00.0,First Class,0.31,California,Binders,2014,North America,51
51288,Office Supplies,Los Angeles,United States,RM-196754,Robert Marley,0,US,1,00:00.0,CA-2014-145219,...,90,Home Office,00:00.0,First Class,15.95,California,Binders,2014,North America,52
51289,Office Supplies,Los Angeles,United States,FH-143654,Fred Hopkins,0,US,1,00:00.0,CA-2014-121398,...,154,Corporate,00:00.0,Standard Class,9.59,California,Binders,2014,North America,52

In [230]:
df.describe()

,Discount,___,Profit,Quantity,Row.ID,Sales,Shipping.Cost,Year,weeknum
count,51290.000000,51290.0,51290.000000,51290.000000,51290.00000,51290.000000,51290.000000,51290.000000,51290.000000
mean,0.081341,1.0,28.610982,3.476545,25645.50000,246.498440,26.375818,2012.777208,31.287112
std,0.273361,0.0,174.340972,2.278766,14806.29199,487.567175,57.296810,1.098931,14.429795
min,0.000000,1.0,-6599.978000,1.000000,1.00000,0.000000,0.002000,2011.000000,1.000000
25%,0.000000,1.0,0.000000,2.000000,12823.25000,31.000000,2.610000,2012.000000,20.000000
50%,0.000000,1.0,9.240000,3.000000,25645.50000,85.000000,7.790000,2013.000000,33.000000
75%,0.000000,1.0,36.810000,5.000000,38467.75000,251.000000,24.450000,2014.000000,44.000000
max,1.000000,1.0,8399.976000,14.000000,51290.00000,22638.000000,933.570000,2014.000000,53.000000

In [231]:
df.shape

(51290, 27)

In [232]:
df.columns

Index(['Category', 'City', 'Country', 'Customer.ID', 'Customer.Name',
       'Discount', 'Market', '___', 'Order.Date', 'Order.ID', 'Order.Priority',
       'Product.ID', 'Product.Name', 'Profit', 'Quantity', 'Region', 'Row.ID',
       'Sales', 'Segment', 'Ship.Date', 'Ship.Mode', 'Shipping.Cost', 'State',
       'Sub.Category', 'Year', 'Market2', 'weeknum'],
      dtype='object')

In [233]:
df.isnull()

,Category,City,Country,Customer.ID,Customer.Name,Discount,Market,___,Order.Date,Order.ID,...,Sales,Segment,Ship.Date,Ship.Mode,Shipping.Cost,State,Sub.Category,Year,Market2,weeknum
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
51285,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
51286,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
51287,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
51288,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
51289,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [234]:
df.isnull().sum()

Category          0
City              0
Country           0
Customer.ID       0
Customer.Name     0
Discount          0
Market            0
___               0
Order.Date        0
Order.ID          0
Order.Priority    0
Product.ID        0
Product.Name      0
Profit            0
Quantity          0
Region            0
Row.ID            0
Sales             0
Segment           0
Ship.Date         0
Ship.Mode         0
Shipping.Cost     0
State             0
Sub.Category      0
Year              0
Market2           0
weeknum           0
dtype: int64

In [235]:
df.dtypes

Category           object
City               object
Country            object
Customer.ID        object
Customer.Name      object
Discount            int64
Market             object
___                 int64
Order.Date         object
Order.ID           object
Order.Priority     object
Product.ID         object
Product.Name       object
Profit            float64
Quantity            int64
Region             object
Row.ID              int64
Sales               int64
Segment            object
Ship.Date          object
Ship.Mode          object
Shipping.Cost     float64
State              object
Sub.Category       object
Year                int64
Market2            object
weeknum             int64
dtype: object

In [236]:
cat_1=df[['Category','City','Country','Customer.ID','Customer.Name','Market','Order.ID','Segment','Ship.Mode','Ship.Date','State','Sub.Category','Market']]
cat_1

,Category,City,Country,Customer.ID,Customer.Name,Market,Order.ID,Segment,Ship.Mode,Ship.Date,State,Sub.Category,Market
0,Office Supplies,Los Angeles,United States,LS-172304,Lycoris Saunders,US,CA-2011-130813,Consumer,Second Class,00:00.0,California,Paper,US
1,Office Supplies,Los Angeles,United States,MV-174854,Mark Van Huff,US,CA-2011-148614,Consumer,Standard Class,00:00.0,California,Paper,US
2,Office Supplies,Los Angeles,United States,CS-121304,Chad Sievert,US,CA-2011-118962,Consumer,Standard Class,00:00.0,California,Paper,US
3,Office Supplies,Los Angeles,United States,CS-121304,Chad Sievert,US,CA-2011-118962,Consumer,Standard Class,00:00.0,California,Paper,US
4,Office Supplies,Los Angeles,United States,AP-109154,Arthur Prichep,US,CA-2011-146969,Consumer,Standard Class,00:00.0,California,Paper,US
...,...,...,...,...,...,...,...,...,...,...,...,...,...
51285,Office Supplies,Los Angeles,United States,AM-103604,Alice McCarthy,US,CA-2014-109701,Corporate,Same Day,00:00.0,California,Binders,US
51286,Office Supplies,Los Angeles,United States,AM-103604,Alice McCarthy,US,CA-2014-109701,Corporate,Same Day,00:00.0,California,Binders,US
51287,Office Supplies,Los Angeles,United States,HR-147704,Hallie Redmond,US,CA-2014-106964,Home Office,First Class,00:00.0,California,Binders,US
51288,Office Supplies,Los Angeles,United States,RM-196754,Robert Marley,US,CA-2014-145219,Home Office,First Class,00:00.0,California,Binders,US
51289,Office Supplies,Los Angeles,United States,FH-143654,Fred Hopkins,US,CA-2014-121398,Corporate,Standard Class,00:00.0,California,Binders,US

In [237]:
num_1=df[['Discount','Sales','Shipping.Cost','Profit','Quantity']]
num_1

       Discount  Sales  Shipping.Cost   Profit  Quantity
0             0     19           4.37   9.3312         3
1             0     19           0.94   9.2928         2
2             0     21           1.81   9.8418         3
3             0    111           4.59  53.2608         2
4             0      6           1.32   3.1104         1
...         ...    ...            ...      ...       ...
51285         0     69           5.15  22.5732         2
51286         0      9           0.44   3.1584         6
51287         0     12           0.31   4.2804         2
51288         0     90          15.95  33.9300         3
51289         0    154           9.59  51.8238         3

[51290 rows x 5 columns]